@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');

// Theme colors
$colorBrown: #c1946a;
$colorPaleGreen: #e3eaa7;
$colorLightGreen: #b5e7a0;
$colorDarkGreen: #86af49;
$colorGray: #d5e1df;

$colorOrange: #f1a713;
$colorDarkPurple: #1f1f1f;

.content {
  display: inline-block;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  max-width: 100%;
}

.welcome {
  text-align: center;
  color: $colorGray;
}

html, body {
  color: $colorDarkPurple;
  font-family: 'Gotu', sans-serif;
  height: 100%;
  background: $colorDarkPurple;
  flex-grow: 1;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  min-height: 90%;
  background-image: url('./public/main_bg.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-family: 'Special Elite', cursive;
}

header {
  color: $colorDarkPurple;
  background: $colorLightGreen;
  border-bottom: 4px double $colorDarkGreen;
  flex-shrink: 0;
}

header h1 {
  font-family: 'Cinzel Decorative', cursive;
  font-weight: 700;
}

header h3 {
  font-family: 'Cinzel Decorative', cursive;
  font-weight: 400;
  font-size: 16px;
}

footer {
  background: $colorDarkPurple;
  color: $colorDarkGreen;
  text-align: right;
  width: 100%;
  height: 6%;
  border-top: 3px double $colorDarkGreen;
  flex-shrink: 0;
}

input, button {
  font-size: 12px;
  border-width: 1px;
  background-color: $colorGray;
}

select {
  background-color: $colorGray;
}

form {
  padding: 1px 3px 3px 3px;
}

header button, input {
  border-radius: 5px;
}

header form {
  background: $colorDarkGreen;
  border-radius: 5px;
  display: inline-block;
  margin: 2px;
}

.section-char {
  border: 4px solid $colorDarkGreen;
  border-top-color: $colorPaleGreen;
  border-left-color: $colorPaleGreen;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  display: inline-block;
  padding: 5px;
  color: $colorDarkPurple;
  margin: 3px;
  background-color: $colorLightGreen;
  resize: none;
}

.div-char {
  border: 4px solid $colorDarkGreen;
  border-top-color: $colorPaleGreen;
  border-left-color: $colorPaleGreen;
  display: inline-block;
  padding: 3px;
  color: $colorDarkPurple;
  margin: 3px;
  background-color: $colorLightGreen;
  resize: both;
  overflow: auto;
}

.div-char textarea {
  resize: both;
  width: 95%;
  overflow: auto;
}

textarea {
  background-color: $colorGray;
  resize: none;
  opacity: 0.8;
}

.section-char textarea {
  width: 90%;
}

.status {
  font-family: "Gotu", serif;
  display: inline-block;
}

.type-text, textarea, select, button, select option, main input {
  font-family: 'Special Elite', cursive;
  color: $colorDarkPurple;
}

.name-text {
  color: $colorDarkPurple;
}

.btn-delete, .btn-get {
  color: $colorDarkPurple;
}

.nvisible {
  display: none;
}
